body{
    font-family: sans-serif;
    background: #ddd;
    text-align: center;
}
h1{
    text-aling: center;
    display: inline-block;
    margin-top: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
}
.content{
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.logo{
    width: 30vw;
    display: block;
    margin-top: 5vh;
}
.background{
    background: url(../imgs/star.svg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}